{% load static %}
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Leckerli+One|Simonetta&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://www.GroupPlugin.com/public/group-plugin-base.css">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div id="fb-root"></div>
        {% if user.is_authenticated %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow" id="mainNav">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Studio413</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'post_new' %}"><span class="glyphicon glyphicon-plus"></span>New Post</a>
                        </li>
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'post_draft_list' %}"><span class="glyphicon glyphicon-edit"></span>Drafts</a>
                        </li>
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="https://www.zenstudio413.com/admin">Admin</a>
                        </li>
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'logout' %}">Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% endif %}
        <a href="/"><header>
            <div class="flex-header">
                <div class="logo">
                    <img src="{% static 'images/studio413.jpg' %}">
                </div>
            </div>
        </header></a>
        <nav class="menu">
            <ul>
                <li class="menu-item"><a class="menu-item" href="/">Home</a></li>
                <li class="menu-item"><a class="menu-item" href="{% url 'post_list' %}">Blog</a></li>
                <li class="menu-item"><a class="menu-item" href="{% url 'products' %}">Products</a></li>
                <li class="menu-item"><a class="menu-item" href="https://www.etsy.com/shop/Studio413ArtTherapy">Shop Now!</a></li>
            </ul>
        </nav>
        <div class="main-flex-container">
            <div class="flex-container-posts">
                {% block content %}
                {% endblock %}
            </div>
            <div class="flex-container-sidebar">
                <div class="flex-card">
                    <h5 class="flex-card-header">About Studio413</h5>
                    <div class="flex-card-body">
                        <div class="about-me-img">
                            <img src="{% static 'images/artist.jpg' %}">
                        </div>
                        <center>
                            <p class="flex-card-text" id="about-card">
                                Wife, mom, grandma <br>
                                Obsessed with art <br>
                                Animal lover <br>
                                Forever-student of psychology <br>
                                B movie fan
                            </p>
                        </center>
                    </div>
                </div>
                <div class="flex-card">
                    <h5 class="flex-card-header">Studio413 Newsletter!</h5>
                    <div class="flex-card-body">
                        <p>Want to receive exclusive member deals, content, and freebies? Subscribe to the Studio413 Newsletter!</p>
                        <a href="{% url 'new' %}"><button class="styled-button">Sign me up!</button></a>
                    </div>
                </div>
                <div class="flex-card">
                    <h5 class="flex-card-header">Shop Studio413 on Etsy!</h5>
                    <div class="flex-card-body">
                        <div class="products-card">
                            <script type='text/javascript' src='https://www.etsy.com/assets/js/etsy_mini_shop.js'></script>
                            <script type='text/javascript'>new Etsy.Mini(21292598,'thumbnail',3,2,0,'https://www.etsy.com');</script>
                        </div>
                        <a href="{% url 'products' %}"><button class="styled-button">More products</button></a>
                    </div>
                </div>
                <!--This is the Patreon Card. Once the account is set up, put it here and uncomment this card.-->
                <!--<div class="flex-card">
                    <h5 class="flex-card-header">Support Us on Patreon!</h5>
                    <div class="flex-card-body">
                        <p>[Patreon info/link will go here.]</p>
                    </div>
                </div>-->
                <!--This is the Sample Video Card. Once we have a video, put it here and uncomment this card.-->
                <!--<div class="flex-card">
                    <h5 class="flex-card-header">Sample Video</h5>
                    <div class="flex-card-body">
                        <p>[Your sample video will go here.]</p>
                    </div>
                </div>-->
                <div class="flex-card">
                    <h5 class="flex-card-header">Follow Us on Twitter!</h5>
                    <div class="flex-card-body">
                        <a class="twitter-timeline" data-height="300" data-theme="light" href="https://twitter.com/ZStudio413?ref_src=twsrc%5Etfw"></a>
                    </div>
                </div>
                <div class="flex-card">
                    <h5 class="flex-card-header">Join Our Facebook Group!</h5>
                    <div class="flex-card-body" id="facebook">
                        <div class="facebook-container">
                            <div class="group-border">
                                <div class="fb-group" data-href="https://www.facebook.com/groups/322580975338340/" data-show-social-context="true"></div>
                                <center><p><strong>Our public group for all things Studio413!</strong></p></center>
                            </div>
                            <div class="group-border">
                                <div class="fb-group" data-href="https://www.facebook.com/groups/1464669653712807/" data-show-social-context="true"></div>
                                <center><p><strong>Our private group where you can share your art!</strong></p></center>
                            </div>
                        </div>
                    </div>
                </div>
                <!--This is the Instagram Card. However, the current setup is not working. When one that works is found,
                    put it here and uncomment this card.-->
                <!--<div class="flex-card">
                    <h5 class="flex-card-header">Follow Us on Instagram!</h5>
                    <div class="flex-card-body">
                        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                        <div class="elfsight-app-ffa9fecc-b1a7-494a-b24f-f9b308153674"></div>
                    </div>
                </div>-->
                <!--This is the Youtube Channel Card. Once we launch the channel, put it here and uncomment this card.-->
                <!--<div class="flex-card">
                    <h5 class="flex-card-header">Subscribe to Our Youtube Channel!</h5>
                    <div class="flex-card-body">
                        <p>[Your Youtube Channel will go here, with some of your videos appearing in this box. <a href="https://support.google.com/youtube/answer/171780?hl=en">Here's how to set it up.</a>]</p>
                    </div>
                </div>-->
                <!--This is the Affiliate Links Card. Once we have some links, add them here and uncomment this card.-->
                <!--<div class="flex-card">
                    <h5 class="flex-card-header">Affiliate Links</h5>
                    <div class="flex-card-body">
                        <p>[Affiliate links will go here]</p>
                    </div>
                </div>-->
            </div>
        </div>
        <hr>
        <footer>
            <div class="icons-container">
                <a href="https://www.etsy.com/shop/Studio413CreativeArt"><img class="icons" src="{% static 'images/etsy-icon.png' %}"></a>
                <!--<a href="#"><img class="icons" src="{% static 'images/patreon-icon.png' %}"></a>-->
                <a href="https://twitter.com/ZStudio413"><img class="icons" src="{% static 'images/twitter-icon.png' %}"></a>
                <a href="https://www.instagram.com/zenstudio413/"><img class="icons" src="{% static 'images/instagram-icon.png' %}"></a>
                <a href="https://www.facebook.com/groups/322580975338340/"><img class="icons" src="{% static 'images/facebook-icon.png' %}"></a>
                <!--<a href="#"><img class="icons" src="{% static 'images/youtube-icon.png' %}"></a>-->
            </div>
            <p>Copyright &copy; 2020 Studio413. All rights reserved.</p>
            <p>Website created by Megan McCarty</p>
            {% if user.is_authenticated %}
            {% else %}
                <p class="m-0 text-muted small">Admin: <a href="{% url 'login' %}">Log in</a></p>
            {% endif %}
        </footer>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=815653788912434&autoLogAppEvents=1"></script>
    </body>
</html>