{% load static %}
<html>
    <head>
        <title>Studio 413</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Leckerli+One|Simonetta&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://www.GroupPlugin.com/public/group-plugin-base.css">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        {% if user.is_authenticated %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow" id="mainNav">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Studio 413</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'post_new' %}"><span class="glyphicon glyphicon-plus"></span>New Post</a>
                        </li>
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'post_draft_list' %}"><span class="glyphicon glyphicon-edit"></span>Drafts</a>
                        </li>
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="https://djangogirlsblog2.pythonanywhere.com/admin">Admin</a>
                        </li>
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'logout' %}">Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% endif %}
        <header>
            <div class="flex-header">
                <div class="img-box">
                    <a href="/"><img src="../../../media/studio413.jpg"></a>
                </div>
            </div>
        </header>
        <div class="main-flex-container">
            <div class="flex-container-posts">
                {% block content %}
                {% endblock %}
            </div>
            <div class="flex-container-sidebar">
                <div class="flex-card">
                    <h5 class="flex-card-header">About Me</h5>
                    <div class="flex-card-body">
                        <div class="about-me-img">
                            <img src="../../../media/artist.jpg">
                        </div>
                        <p class="flex-card-text">[Write your awesome blurb here!]</p>
                        <a href="{% url 'about' %}" class="btn btn-primary">More info &rarr;</a>
                    </div>
                </div>
                <div class="flex-card">
                    <h5 class="flex-card-header">Etsy Shop</h5>
                    <div class="flex-card-body">
                        <p>This will require some work on your end. The <a href="https://tizzit.co/integrate-your-etsy-shop-on-your-own-website/">tutorial here</a> describes what you need to do.</p>
                    </div>
                </div>
                <div class="flex-card">
                    <h5 class="flex-card-header">Twitter Feed</h5>
                    <div class="flex-card-body">
                        <a class="twitter-timeline" data-height="300" data-theme="light" href="https://twitter.com/ZStudio413?ref_src=twsrc%5Etfw"></a>
                    </div>
                </div>
                <div class="flex-card">
                    <h5 class="flex-card-header">Facebook Group</h5>
                    <div class="flex-card-body">
                        <div class="GroupPlugin_contentContainer" id="GroupPluginContainer_b81dea59e984e9d8e8e74e56274c8a59" group-id="322580975338340" num="10" showComments="Y" showPagination="Y" source="plugin">
                    </div>
                </div>
            </div>
        </div>
        <footer class="py-3 bg-grey">
            <p class="m-0 text-dark text-center">Copyright &copy; 2020 Diane McCarty. All rights reserved.</p>
            <br>
            {% if user.is_authenticated %}
            {% else %}
                <p class="m-0 text-muted text-center small">Admin: <a href="{% url 'login' %}">Log in</a></p>
                <br>
            {% endif %}
            <p class="m-0 text-muted text-center small">Website created by Megan McCarty</p>
        </footer>
    </body>
    <script id="GroupPluginJS" token="6b5a24ce595c163ac0e55bbbec505816" type="text/javascript" src="https://www.GroupPlugin.com/public/group-plugin.min.js"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</html>