{% extends 'blog/base.html' %}

{% block content %}
<head>
    {% block title %}<title>Studio413 - Home</title>{% endblock %}
</head>

<div class="flex-card-post">
    <h3 class="flex-card-header">Welcome to Studio413!</h3>
    <div class="flex-card-body">
        <div class="flex-card-text">
            <br>
            <h4><strong>Hello and welcome, my Intuitively Creative Peeps!</strong></h4>
            <p class="home-page-text">
                Here you will find everything related to my art, as well as ideas
                on how to use art to help relieve stress and anxiety!
            </p>
            <br>
            <h4><strong>About the name</strong></h4>
            <p class="home-page-text">
                The name, Studio413, comes from the Bibile verse Phil 4:13 - "I
                can do anything through Christ who strengthens me." The "zen" in
                front of the website address is to set me apart from other
                Studio413's out there. Plus doing this type of art is quite zenful!
            </p>
            <br>
            <h4><strong>About me and my art</strong></h4>
            <p class="home-page-text">
                My art is all hand-drawn and any piece can take 5-7 days to
                complete. I practice what I call extreme doodling – which is
                doodling with incredible attention to detail. It's in the creation
                of these doodles, or patterns, that causes an incredible serenity,
                calm, and mindfulness of being "in the flow."
            </p>
            <p class="home-page-text">
                Being "in the flow" means accepting what is happening in the
                here and now and not trying to manipulate or change it in any
                way. Were you ever so into something that you didn't realize how
                time just flew by? Chances are, you were doing something that
                meant so much to you that you were in the flow. And when you're
                in the flow, you are only mindfully aware of what you are
                currently doing and not thinking about doing a laundry list of
                other things (like laundry)! It allows you to connect with your
                inner self and enjoy being at piece with yourself.
            </p>
            <p class="home-page-text">
                I'll be posting a lot of my pieces in upcoming posts. If you'd
                like to see some of my art that's for sale,
                <a href="{% url 'products' %}">you can view it here</a>, right
                on my website! If you'd like to browse my full shop catalogue,
                you can stop by my
                <a href="http://etsy.com/shop/Studio413CreativeArt">Etsy Shop</a>!
            </p>
            <p class="home-page-text">
                So aside from being an extreme doodler, I also have morning
                coffee with Jesus, journal daily, and am learning watercolor
                and paint pouring. As a practice, I am in my art studio every
                day doing some kind of art.
            </p>
            <br>
            <h4><strong>The Newsletter</strong></h4>
            <p class="home-page-text">
                You can signup to receive our newsletter, which will include
                positive, uplifting content; fun exercises; exclusive discounts
                on my art; and more! AND I will always try to include a freebie
                of some sort for you as well.
            </p>
            <br>
            <h4><strong>Psychology in art</strong></h4>
            <p class="home-page-text">
                While not an art therapist myself, I can certainly attest to the
                power of art in creating a mindful, restful spirit, and that is
                something I want to share with you.
            </p>
            <p class="home-page-text">
                My art is often an extension of what is called Acceptance
                Commitment Therapy (ACT) and radically accepting the reality of
                what is, even if you don't agree with it. I will discuss this
                more in an upcoming post. And for my newsletter subscribers,
                I may include an art exercise that demonstrates how easy this is
                to do!
            </p>
            <br>
            <h4><strong>Thanks again for stopping by!</strong></h4>
            <p class="home-page-text">
                I hope you enjoy reading through my posts and perusing my art!
                Happing Creating! 😊💗🙏🏻🎨
            </p>
        </div>
    </div>
</div>
{% endblock %}