{% extends 'blog/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="flex-card-post">
    <h3 class="flex-card-header">{{ post.title }}</h3>
    <div class="flex-card-body">
        {% if post.published_date %}
        {% else %}
            <a href="{% url 'post_publish' post.slug %}"><button class="btn btn-primary">Publish</button></a>
        {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url 'post_edit' post.slug %}"><button class="btn btn-primary">Edit Post</button></a>
            <a href="{% url 'post_remove' post.slug %}"><button class="btn btn-primary">Delete Post</button></a>
        {% endif %}
        <p class="text-muted">By {{ post.author }} | Published {{ post.published_date }}</p>
        <p>{{ post.text| safe }}</p>
    </div>
</div>
<div class="flex-card-post">
    <h3 class="flex-card-header">Comments: {{ comments.count }}</h3>
    <div class="flex-card-body">
        {% for comment in comments %}
            <div class="flex-comments">
                <p class="font-weight-bold">
                <hr>
                {{ comment.name }}
                    <span class=" text-muted font-weight-normal">
                        {{ comment.created_date }}
                    </span>
                </p>
                {{ comment.text | linebreaks }}
            </div>
        {% endfor %}
    </div>
</div>
<div class="flex-card-post">
    <h3 class="flex-card-header">Leave a comment</h3>
    <div class="flex-card-body">
        {% if new_comment %}
            <div class="alert alert-success" role="alert">
                Your comment is awaiting moderation
            </div>
        {% else %}
        <form method="post" style="margin-top: 1.3em;">
            {{ comment_form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}