{% extends 'blog/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        {% for post in posts %}
            <div class="post">
                <p class="date">created: {{ post.created_date|date:'d-m-Y' }}</p>
                <h2><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h1>
                <p>{{ post.text| safe | truncatechars:550 }}</p>
                <br>
                <br>
                <a href="{% url 'post_detail' post.slug  %}" class="btn btn-default">Read More &rarr;</a>
            </div>
        {% endfor %}
    {% else %}
        <div>
            <p>You are not authorized to view this page. If you are the author or webmaster, please <a href=""> log in</a></p>
        </div>
    {% endif %}
{% endblock %}