{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="flex-card-post">
            <h3 class="flex-card-header">{{ post.title }}</h3>
            <div class="flex-card-body">
                <p class="text-muted small">By {{ post.author }} | Published {{ post.published_date}} </p>
                <p class="flex-card-text">{{post.text | truncatewords_html:75 | safe}}</p>
                <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
            </div>
        </div>                
    {% endfor %}
    {% if posts.has_other_pages %}
        <div class="page-buttons">
            <nav aria-label="Page navigation conatiner"></nav>
                <ul class="pagination justify-content-center">
                    {% if posts.has_previous %}
                        <li><a href="?page={{ posts.previous_page_number }}" class="page-link">&laquo; Previous </a></li>
                    {% endif %}
                    {% if posts.has_next %}
                        <li><a href="?page={{ posts.next_page_number }}" class="page-link"> Next &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}
{% endblock %}