{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="flex-card-post">
            <h3 class="flex-card-header">{{ post.title }}</h3>
            <div class="flex-card-body">
                <p class="text-muted small">By {{ post.author }} | Published {{ post.published_date}} </p>
                <p class="flex-card-text">{{post.text | slice:":550" | safe}}</p>
                <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
            </div>
        </div>                
    {% endfor %}
{% endblock %}