{% extends "blog/base.html" %}
{% load static %}

{% block content %}
<head>
    {% block title %}<title>Studio413 - Products</title>{% endblock %}
</head>
<div class="flex-card-post">
    <h2 class="flex-card-header">Products</h2>
    <div class="flex-card-body">
        <h3>Create-It-Yourself Therapeutic Art Pages</h3>
        <div class="products-box">
            {% for result in data %}
                {% if result.digital %}
                    <div class="products-card">
                        <div class="product-img">
                            <img src={{result.image}}>
                        </div>
                        <p><b>{{result.title}}</b></p>
                        <div>
                            {% if result.likes %}
                                <img class="views-likes" src="{% static 'images/views.png'%}"> {{result.views}} |
                                <img class="views-likes" src="{% static 'images/likes.png'%}"> {{result.likes}} |
                                ${{result.price}}
                            {% else %}
                                <img class="views-likes" src="{% static 'images/views.png'%}"> {{result.views}} |
                                ${{result.price}}
                            {% endif %}
                        </div>
                        <a href={{result.url}}><button class="buy-button">Buy now!</button></a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <br>
        <h3>Art for Sale</h3>
        <div class="products-box">
            {% for result in data %}
                {% if not result.digital %}
                    <div class="products-card">
                        <div class="product-img">
                            <img src={{result.image}}>
                        </div>
                        <p><b>{{result.title}}</b></p>
                        <div>
                            {% if result.likes %}
                                <img class="views-likes" src="{% static 'images/views.png'%}"> {{result.views}} |
                                <img class="views-likes" src="{% static 'images/likes.png'%}"> {{result.likes}} |
                                ${{result.price}}
                            {% else %}
                                <img class="views-likes" src="{% static 'images/views.png'%}"> {{result.views}} |
                                ${{result.price}}
                            {% endif %}
                        </div>
                        <a href={{result.url}}><button class="buy-button">Buy now!</button></a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}