{% extends "wagtailblog/base.html" %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="flex-card-post">
    <h3 class="flex-card-header">Change Password</h3>
    <div class="flex-card-body">
        <div class="flex-card-text">
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="styled-button" type="submit" name="action">{% trans "Change Password" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
