{% extends 'wagtailblog/base.html' %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}

{% if request.GET.tag|length %}
    <h3 class="tag-results">Results – Showing pages tagged "{{ request.GET.tag }}"</h3>
{% endif %}

{% for post in blogpages %}
    {% with post=post.specific %}
        <section class="flex-card-post">
            <h2 class="flex-card-header">{{ post.title }}</h2>
            <article class="flex-card-body">
                <p class="text-muted small">By {{ post.author }} | Published {{ post.date}} </p>
                <p class="flex-card-text">{{post.body | richtext | truncatewords_html:75 }}</p>
                <a href="{% pageurl post %}"><button class="styled-button">Read More &rarr;</button></a>
            </article>
        </section>
    {% endwith %}
{% endfor %}

{% endblock %}