{% extends 'wagtailblog/base.html' %}

{% load comments %}
{% load comments_xtd %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
<section class="flex-card-post">
    <h2 class="flex-card-header">{{ page.title }}</h2>
    <article class="flex-card-body">
        <p class="text-muted">By {{ page.author }} | Published {{ page.date }}</p>
        <p>{{ page.body | richtext }}</p>

        {% if page.tags.all.count %}
            <section class="tags">
                <h3>Tags</h3>
                {% for tag in page.tags.all %}
                    <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button class="styled-button" type="button">#{{ tag }}</button></a>
                {% endfor %}
            </section>
        {% endif %}

    </article>
</section>

<section class="flex-card-post">
    <h3 class="flex-card-header">
        Comments –
        {% get_comment_count for page as comment_count %}
        {{ comment_count }}
    </h3>
    <div class="flex-card-body">
        {% if comment_count %}
            <section class="comments">
                {% render_xtdcomment_tree for page %}
            </section>
        {% endif %}
    </div>
</section>

<section class="flex-card-post">
    <h3 class="flex-card-header">Leave a comment</h3>
    <section class="flex-card-body">

        {% if user.is_authenticated %}
            <div class="comment">
                <div class="well">
                    {% render_comment_form for page %}
                </div> 
            </div>
        {% else %}
            <div>
                <p>You must <a href="{% url 'account_login' %}?next={{request.path}}">log in</a> to leave or respond to a comment.</p>
            </div>
        {% endif %}

    </section>
</section>
{% endblock %}