{% extends "wagtailblog/base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block title %}Members Only{% endblock %}

{% block content %}
<section class="flex-card-post">
    <h3 class="flex-card-header">Membership Goodies!</h3>
    <article class="flex-card-body">
        
        {% if user.is_authenticated %}
            {{ page.body|richtext }}
        {% else %}
            <p>Oops, this page (and all of its wonderful goodies) is only available to Studio413 members!</p>
            <p>If you have an account, you can access this page by <a href="{% url 'account_login' %}">logging in</a>.</p>
            <p>If you don't have an account, you can <a href="{% url 'account_signup' %}">sign up for free</a>!</p>
        {% endif %}
        
    </article>
</section>
{% endblock %}
