{% extends "wagtailblog/base.html" %}
{% load i18n %}
{% load comments_xtd %}

{% block title %}{% trans "Preview your comment" %}{% endblock %}

{% block content %}
<div class="flex-card-post">
    <h3 class="flex-card-header">
        {% trans "Preview your comment" %} for: 
        <a href="{{ form.target_object.get_absolute_url }}">
            {{ form.target_object }}
        </a>
    </h3>
    <div class="flex-card-body">
        {% if not comment %}
            <em>{% trans "Empty comment." %}</em>
        {% else %}
            <div class="media">
                <!-- This is where a profile picture can go -->
                <div class="media-body">
                    <div class="comment pb-3">
                        <h6 class="mb-1 small">
                            {% if form.cleaned_data.url %}
                                <a href="{{ form.cleaned_data.url }}" target="_new">
                            {% endif %}
                                    
                            {{ user.username }}
                                
                            {% if form.cleaned_data.url %}
                                </a>
                            {% endif %}
                            &nbsp;-&nbsp;
                            {% now "N j, Y, P" %}
                        </h6>
                        <p>{{ comment }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
<div class="flex-card-post">
    <h3 class="flex-card-header">{% trans "Post your comment" %}</h3>
    <div class="flex-card-body">
        {% include "comments/form.html" %}
    </div>
</div>
{% endblock %}
